.cartWidget {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding-left: 0rem;
    position: relative;
}

.cart-img {
    transform: scale(0.5);
}


.cart-number{
    margin-top: 2rem;
    position: absolute;
    margin-left: 4rem;
    padding-right: 1rem;
}

.cart-button{
    padding-top: 1rem;
}
