* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 15vh;
    box-shadow: 1px 5px 15px rgb(156, 163, 149);
}

.navBar-group{
    display: flex;
    margin-left: 9rem;
}

.navBar-list {
    display: flex;
    justify-content: baseline;
    list-style: none;
    gap: 1rem;
    color: #4c6a4b !important;
    border-color: #4c6a4b !important;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1.8rem;
}

.navBar-link {
    color: #6b9d4a !important;
    text-decoration: none;
}

.css-1or64il-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.23);
    border-color: #4c6a4b;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.navBar-link-product{
    display: flex;
    list-style: none;
    gap: 1rem;
    color: #6b9d4a !important;
    border-color: #4c6a4b !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    margin-top: 0.15rem !important;
}