* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background-color: rgb(246, 252, 250);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 15vh;
    box-shadow: 1px 5px 15px rgb(156, 163, 149);
}

.brand {
    color: chartreuse;
}

.navBar-list {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: chartreuse !important;
    border-color: chartreuse !important;
    font-size: 20px;
    font-weight: 500;
    margin-left: 12rem;
}

.navBar-link {
    color: chartreuse !important;
    text-decoration: none;
}

.css-1or64il-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.23);
    border-color: chartreuse;
}

.css-kpm0tx-MuiButtonBase-root-MuiButton-root {
    font-weight: 700 !important;
    font-size: 1rem !important;
}