
.count-btn{
    padding: 0.4rem;
    background-color: #2d452f;
    color: white;
    border: none;
}

.count-btn2{
    padding: 0.4rem;
    background-color: #2d452f;
    color: white;
    border: none;
    margin-top: 1rem;
}